#home-page {
  overflow-x: hidden;
}
#home-page h1{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}
#main-section {
  margin-left: calc(68px + 50px);
  margin-top: 20px;
}